# Python cache files
__pycache__/
*.py[cod]

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env
.env.*

# SQLite database files
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/
